.headerPadding {
    padding-top: 100px;
}

.centerWidth {
    text-align: center;
    /*margin: auto;*/
    /*width: 40%;*/
}

.blue {
    background-color: #3b5998;
    color: white;
}

.red {
    background-color: #dd4b39;
    color: white;
}


.iconAlign {
    display: inline-block;
}

.full-width {
    width: 100%;
}

.forgotPassword {
    cursor: pointer;
}

.buttonSize {
    font-size: 24px;
    padding: 15px 16px;
}

.errorMessage {
    color: red;
}