
<div class="modalSize">

    <div class="center">
        <h4>Reset Your Password</h4>
    </div>
    <div class="centerDiv col-md-12">
        <form [formGroup]="emailResetForm" (ngSubmit)="resetPassword()">
            <div class="col-md-9">
                <md-input-container class="fullWidth">
                    <input mdInput placeholder="Email" [(ngModel)]="email" formControlName="email" type="email">
                </md-input-container>
                <p class="error" *ngIf="notFound">We can't find an account with that email address</p>
                <p class="success" *ngIf="success">Please check your email to reset password</p>
            </div>
            <div class="col-md-3">
                <button class="fullWidth" md-raised-button type="submit" [disabled]="!emailResetForm.valid">Submit</button>
            </div>
        </form>
    </div>

</div>