.blue {
    color: lightblue;
}

.modalSize {
    min-height: 200px;
    min-width: 500px;
}

.centerDiv {
    width: 90%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.center {
    width: 96%;
    margin: 0 auto;
}


.fullWidth {
    width: 100%;
}

.error {
    color: red;
    font-weight: bold;
}

.success {
    color: green;
    font-weight: bold;
}