<section class="topFeaturesSection">
    <div class="container">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 fixedHeight featureText">
            <h1>Search for Prizes from your favorite companies using augmented reality!</h1>
            <h3>Geolocation notifications alert you to prizes in your area</h3>
            <h3>Just open the app and start looking</h3>
            <h3>Once you find the prize, simply tap on the 3D object or take a picture</h3>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 fixedHeight">
            <div class="col-lg-4 col-md-4 col-sm-3 col-xs-6 centerIcon">
                <img class="centerIcon" src="http://findicons.com/files/icons/539/nfl/128/falcons.png">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-3 col-xs-6 centerIcon">
                <img class="centerIcon" src="http://findicons.com/files/icons/539/nfl/128/bengals.png">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-3 col-xs-6 centerIcon">
                <img class="centerIcon" src="http://findicons.com/files/icons/539/nfl/128/falcons.png">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-3 col-xs-6 centerIcon">
                <img class="centerIcon" src="http://findicons.com/files/icons/539/nfl/128/bengals.png">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-3 col-xs-6 centerIcon">
                <img class="centerIcon" src="http://findicons.com/files/icons/539/nfl/128/falcons.png">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-3 col-xs-6 centerIcon">
                <img class="centerIcon" src="http://findicons.com/files/icons/539/nfl/128/bengals.png">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-3 col-xs-6 centerIcon">
                <img class="centerIcon" src="http://findicons.com/files/icons/539/nfl/128/falcons.png">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-3 col-xs-6 centerIcon">
                <img class="centerIcon" src="http://findicons.com/files/icons/539/nfl/128/bengals.png">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-3 col-xs-6">
                <img class="centerIcon" src="http://findicons.com/files/icons/539/nfl/128/falcons.png">
            </div>
            
        </div>
    </div>
</section>
<section class="scavengerHuntSection">
    <div class="container">
        <div class="col-lg-6 col-md-6 col-sm-12 fixedHeight">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 fixedHeight">
        </div>
    </div>
</section>