<div class="headerPadding">
</div>
<div class="splash">
    <div class="splash-video-wrapper">
        <video loop muted autoplay poster="img/videoframe.jpg" class="splash-video">
            <source src="https://s3.amazonaws.com/fastaskbucket/videos/test.mp4" type="video/mp4">
        </video>
    </div>
    <div class="splash-overlay">
        <div class="splash-headline">
            <h1>Find LüT</h1>
            <p>You can find LüT floating around anywhere.</p>
            <p>Download LüT and see what you can find!</p>
        </div>
        <div class="splash-bottom">
            <div>
                <div class="cameraLocation">
                </div>
            </div>
        </div>
    </div>
</div>

<section class="taskFeaturesSection">
    <div class="tile-headline">
        <h1>What is LüT ?</h1>
        <h4>LüT can be anything! Companies promote their product by giving away some of them for free for you to find.</h4>
    </div>
    <div class="container">
        <div class="col-md-4">
            <div class="tile">
                <img src="../../assets/images/tickets.png" class="tile-image">
                <div class="tile-desc">
                    <h3>Event Tickets</h3>
                    <h4>Find Tickets to Concerts, Sporting Events, Movies and More</h4>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="tile">
                <img src="../../assets/images/giftCards3D.png" class="tile-image">
                <div class="tile-desc">
                    <h3>Gift Cards</h3>
                    <h4>Find Gift Cards to your Favorite Restaurants, Shops and Local Services</h4>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="tile">
                <img src="../../assets/images/electronics.png" class="tile-image">
                <div class="tile-desc">
                    <h3>Electronics</h3>
                    <h4>Laptops, HDTVs, Phones, VR Goggles and More</h4>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="topFeaturesSection">
    <div class="details-container">
        <div class="col-md-6 content">
            <h2>Place Holder Text</h2>
            <h4>Go find some shit with this app and win money LüT</h4>
            <p>Scenester narwhal dreamcatcher normcore post-ironic, yr waistcoat mixtape intelligentsia beard stumptown. Man bun ennui adaptogen, chartreuse readymade coloring book jean shorts sustainable unicorn. Knausgaard portland forage keffiyeh</p>
        </div>
        <div class="col-md-6">
        <figure class="phone">
        </figure>
        </div>
    </div>
</section>

<!--<section class="topFeaturesSection">
    <div class="container">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 fixedHeight featureText">
            <h1>Search for Prizes from your favorite companies using augmented reality!</h1>
            <h3>Geolocation notifications alert you to prizes in your area</h3>
            <h3>Just open the app and start looking</h3>
            <h3>Once you find the prize, simply tap on the 3D object or take a picture</h3>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 fixedHeight">
            <div class="col-lg-4 col-md-4 col-sm-3 col-xs-6 centerIcon">
                <img class="centerIcon" src="http://findicons.com/files/icons/539/nfl/128/falcons.png">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-3 col-xs-6 centerIcon">
                <img class="centerIcon" src="http://findicons.com/files/icons/539/nfl/128/bengals.png">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-3 col-xs-6 centerIcon">
                <img class="centerIcon" src="http://findicons.com/files/icons/539/nfl/128/falcons.png">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-3 col-xs-6 centerIcon">
                <img class="centerIcon" src="http://findicons.com/files/icons/539/nfl/128/bengals.png">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-3 col-xs-6 centerIcon">
                <img class="centerIcon" src="http://findicons.com/files/icons/539/nfl/128/falcons.png">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-3 col-xs-6 centerIcon">
                <img class="centerIcon" src="http://findicons.com/files/icons/539/nfl/128/bengals.png">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-3 col-xs-6 centerIcon">
                <img class="centerIcon" src="http://findicons.com/files/icons/539/nfl/128/falcons.png">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-3 col-xs-6 centerIcon">
                <img class="centerIcon" src="http://findicons.com/files/icons/539/nfl/128/bengals.png">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-3 col-xs-6">
                <img class="centerIcon" src="http://findicons.com/files/icons/539/nfl/128/falcons.png">
            </div>
            
        </div>
    </div>
</section>
<section class="scavengerHuntSection">
    <div class="container">
        <div class="col-lg-6 col-md-6 col-sm-12 fixedHeight">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 fixedHeight">
        </div>
    </div>
</section>-->
