
        <div class="container">
            <div class="row">
                <div class="board">
                    <!-- <h2>Welcome to IGHALO!<sup>™</sup></h2>-->
                    <!--<div class="board-inner">-->
                      <ul class="nav nav-tabs" id="myTab">
                        <div class="liner"></div>
                          <li>
                              <a  id="basicBubble" data-toggle="tab" title="Home">
                                  <span class="round-tabs ">
                                          <!--<i class="glyphicon glyphicon-home"></i>-->
                                          <i class="mdi mdi-home mdi-36px"></i>
                                  </span> 
                              </a>
                          </li>
                          <li>
                              <a  id="participantBubble" data-toggle="tab" title="Participants">
                                  <span class="round-tabs ">
                                     <i class="mdi mdi-account-multiple mdi-36px"></i>
                                  </span> 
                              </a>
                          </li>
                          <li>
                              <a  id="taskBubble" data-toggle="tab" title="Tasks">
                                  <span class="round-tabs ">
                                       <i class="mdi mdi-format-list-bulleted mdi-36px"></i>
                                  </span> 
                              </a>
                          </li>
                          <li>
                              <a  data-toggle="tab" id="prizeBubble" title="Prize">
                                  <span class="round-tabs ">
                                       <i class="mdi mdi-gift mdi-36px"></i>
                                  </span> 
                              </a>
                          </li>
                          <li>
                              <a data-toggle="tab" id="confirmBubble" title="Confirm">
                                  <span class="round-tabs ">
                                       <i class="mdi mdi-check mdi-36px"></i>
                                  </span> 
                              </a>
                          </li>
                      </ul>
                      
                    </div>
                    <!--<router-outlet></router-outlet>-->
                  </div>
                <!--</div>-->
            </div>
              <router-outlet></router-outlet>

