

<div class="col-md-6">
    <md-card class="postsCard">
        <h1>Posts You've Made</h1>
        <div class="listFlow">
            <md-grid-list cols="1">
                <md-grid-tile colspan="1" rowspan="1">
                    <img src="https://s3.amazonaws.com/fastaskweb/assets/images/stock-avatar.png">
                </md-grid-tile>
                <md-grid-tile colspan="1" rowspan="1">
                    <img src="https://s3.amazonaws.com/fastaskweb/assets/images/stock-avatar.png">
                </md-grid-tile>
                <md-grid-tile colspan="1" rowspan="1">
                    <img src="https://s3.amazonaws.com/fastaskweb/assets/images/stock-avatar.png">
                </md-grid-tile>
                <md-grid-tile colspan="1" rowspan="1">
                    <img src="https://s3.amazonaws.com/fastaskweb/assets/images/stock-avatar.png">
                </md-grid-tile>
                <md-grid-tile colspan="1" rowspan="1">
                    <img src="https://s3.amazonaws.com/fastaskweb/assets/images/stock-avatar.png">
                </md-grid-tile>
                <md-grid-tile colspan="1" rowspan="1">
                    <img src="https://s3.amazonaws.com/fastaskweb/assets/images/stock-avatar.png">
                </md-grid-tile>
                <md-grid-tile colspan="1" rowspan="1">
                    <img src="https://s3.amazonaws.com/fastaskweb/assets/images/stock-avatar.png">
                </md-grid-tile>
            </md-grid-list>
        </div>
    </md-card>
</div>
<div class="col-md-6">
    <md-card class="postsCard">
        <h1>Promotions You've Won</h1>
    </md-card>
</div>