.modalDimensions {
    width: 800px;
    height: 500px;
}


.cardPadding {
    padding-top: 0px !important;
    margin-bottom: 10px;
}


.full-width {
    width: 100%;
}

.cardDimension {
    height: 600px;
    overflow-y: auto;
}

.blue {
    background-color: #00AEEF;
    color: white;
}