.modalDimensions {
    width: 800px;
    min-height: 300px;
    max-height: 500px;
    padding-left: 24px;
    padding-right: 24px;
    overflow-y: auto;
}

.marginButton {
    margin-left: 44%;
}


.imageContainer {
    width:100%;
    text-align: center;
}

.imgDimensions {
    width: 90%;
    height: auto; 
}

.divider {
    height: 20px;
    width: 100%;
}


.help-dialog .mat-dialog-container {
  padding:0px;
}

.modalHeader {
    background-color: #00AEEF;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    margin-bottom: 10px;
    color: white;
}

.blueButton {
    background-color: #00AEEF;
    color: white;
}