/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


.help-dialog .mat-dialog-container {
      padding-top: 0px;
      padding-right: 0px;
      padding-left: 0px;
      padding-bottom: 24px;
}