<div class="col-md-12">
  
  
  
  <div class="col-md-4">
    <md-card class="test">
      <div class="form">
       <md-input-container class="full-width">
          <input mdInput placeholder="Title" [(ngModel)]="titleTemp">
        </md-input-container>
      </div>
      <div class="form">
        <md-input-container class="full-width">
          <textarea mdInput placeholder="Description" [(ngModel)]="hintTemp"></textarea>
        </md-input-container>
      </div>
      <div class="form">
        <md-input-container class="full-width">
          <input mdInput placeholder="Points" [(ngModel)]="pointsTemp" type="number">
        </md-input-container>
      </div>
      <div class="form rangeMargin" *ngIf=" type === 'picture-geolocation' " >
        <p class="rangeLabel">Radius (ft)</p>
        <!--<table style="width:100%;">
          <tr>
            <td style="width:70%;"> -->

                <md-slider class="full-width" thumbLabel="true" min="50" max="1000" step="10" value="50" [(ngModel)]="radiusTemp" (input)="radiusChange($event)"></md-slider>
                <!--(change)="radiusChange($event)"-->
            <!--</td>
            <td style="width:30%;">
              <p>{{radiusTemp}} ft</p>
            </td>
          </tr>
        </table>-->
      </div>
      <div class="select">
          <md-select placeholder="Type" [(ngModel)]="type" (ngModelChange)="checkType()" name="type" class="full-width">
            <md-option *ngFor="let type of types" [value]="type.value">
              {{type.name}}
            </md-option>
          </md-select>
      </div>
      <div>
        <button md-raised-button (click)="addTask()" [disabled]="buttonDisabled()">Add Task to Hunt</button>
        <button md-raised-button (click)="addToFavorites()" [disabled]="buttonDisabled()">Add To Favorites</button>
        <md-checkbox [(ngModel)]="makeGlobal">Make Public?</md-checkbox>
      </div>
      <div class="helpButtonContainer">
        <table style="width:100%">
          <tr>
            <td class="buttonDiv"> 
              <a (click)="openHelpModal()" class="modalButton">Need Help?</a>
            </td>
            <td class="buttonDiv">
               <a (click)="openFavoritesModal()" class="modalButton">Choose from Favorites</a> 
            </td>
          </tr>
        </table>
      </div>
      <!--<div *ngIf="type === 'geolocation-model' || type === 'picture-geolocation' ">
        <h5>Required Items</h5>
        <md-list>
            <md-list-item>
              <table style="width:100%">
                <tr>
                  <td style="width:50%" class="labelPadding">
                    <p>Location</p>
                  </td>
                  <td style="width:50%">
                    <i *ngIf="markers.length < 1" class="mdi mdi-cancel mdi-24px red"></i>
                    <i *ngIf="markers.length > 0" class="mdi mdi-check-circle mdi-24px green"></i>
                  </td>
                </tr>
              </table>
            </md-list-item>-->
            <!--<md-list-item *ngIf="markers.length > 0">
              <md-list>
                <md-list-item>
                  <table style="width:100%">
                    <tr>
                      <td style="width:50%" class="labelPadding">
                        <p>Latitude</p>
                      </td>
                      <td style="width:50%" class="labelPadding">
                        <p>{{markers[0].position.lat()}}</p>
                      </td>
                    </tr>
                     <tr>
                      <td style="width:50%" class="labelPadding">
                        <p>Longitude</p>
                      </td>
                      <td style="width:50%" class="labelPadding">
                        <p>{{markers[0].position.lng()}}</p>
                      </td>
                    </tr>
                  </table>
                </md-list-item>
              </md-list>
            </md-list-item>-->
            <!--<md-list-item *ngIf="type === 'geolocation-model' ">
              <table style="width:100%">
                <tr>
                  <td style="width:50%" class="labelPadding">
                    <p>Model</p>
                  </td>
                  <td style="width:50%">
                    <i *ngIf="!selectedModel" class="mdi mdi-cancel mdi-24px red"></i>
                    <i *ngIf="selectedModel" class="mdi mdi-check-circle mdi-24px green"></i>
                  </td>
                </tr>
              </table>
            </md-list-item>
        </md-list>
      </div>-->

    </md-card>
  </div>

  <div class="col-md-8" *ngIf="type === 'picture' ">
    <!--<md-card class="test"> 
      <h1>Picture</h1>
    </md-card>-->
  </div>

  <div class="col-md-8" [hidden]="type === 'picture' ">
    <md-card class="mapDiv">
      <div > 
        <input id="search-input" class="controls" type="text" placeholder="Enter Location">
        <div id="taskMap">
        </div>
      </div>
    </md-card>
  </div>

  <div class="col-md-4">
    <md-card class="test">
      <h5>Tasks</h5>
         <md-card *ngFor="let task of taskData.tasks; let i = index" class="cardPadding">
           <table style="width:100%">
             <tr>
               <td style="width:50%">
                 <h4>Title: {{task.title}}</h4>
               </td>
               <td style="width:50%">
                 <button md-icon-button (click)="deleteTask(i)" class="deleteButton"><i class="mdi mdi-delete  mdi-24px"></i></button>
               </td>
             </tr>
           </table>
          
           <md-card-content>
             <p><b>Description:</b> {{task.hint}}</p>
             <table style="width:100%">
              <tr>
                <td style="width:50%">
                  <p><b>Points:</b> {{task.points}}</p>
                </td>
                <td style="width:50%">
                  <p><b>Type:</b> {{task.type}}</p>
                </td>
              </tr>
              <tr [hidden]="task.type === 'picture' ">
                <td>
                  <p><b>Latitude:</b> {{task.lat}}</p>
                </td>
                <td>
                  <p><b>Longitude:</b> {{task.lng}}</p>
                </td>
              </tr>
            </table>
            <p *ngIf="task.type === 'geolocation-model' "><b>3D Model:</b> {{task.modelname}}</p>           
           </md-card-content>
         </md-card>
         <md-card *ngIf="taskData.tasks.length < 1">
           <h4>There are no tasks yet</h4>
          </md-card>
    </md-card>
  </div>

  <div class="col-md-8" [hidden]="type !== 'geolocation-model' ">
    <md-card class="modelCard">
            <div class="col-md-8">
                    <button md-button (click)="clearFilter()" *ngIf="filtered">x</button>
                    <md-input-container class="full-width">
                        <input mdInput placeholder="Filter" [(ngModel)]="filter">
                    </md-input-container>
                    <button md-button (click)="filterModels()">Filter</button>
                    
                    <div class="col-md-12">
                        <div class="col-md-3 top-buffer" *ngFor="let model of models; let i = index">
                                <div>
                                    <img src={{model.thumburl}} class="centerImg" (click)="openModel3D(model.uid)">
                                </div>
                                
                                <button md-raised-button [ngClass]="{'selectedButton':i === selectedModelIndex, 'selectButton': i !== selectedModelIndex}" (click)="selectModel(model.uid, i, model.name)">Select Model</button>
                                
                        </div>
                    </div>
            </div>
            <div class="col-md-4">
                <div class="centerDiv">
                    <div class="phone">
                        <div class="frame">
                            <iframe src="" id="api-frame" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" height="450" width="240"></iframe>
                        </div>
                    </div>
                </div>
            </div>
    </md-card>
  </div>

  <div class="col-md-8" *ngIf="type === 'picture' ">
    <!--<md-card class="test"> 
      <h1>Picture</h1>
    </md-card>-->
  </div>


</div>


<div class="col-md-4 col-md-offset-4">
    <div class="navButtons">
        <button md-raised-button routerLink="../participant">Back</button>
        <button md-raised-button routerLink="../prize">Next</button>
    </div>
</div>
