<section class="navbar">
    <!--<div class="row">-->
        <div class="col-md-3">
        </div>
        <div class="col-md-3 logo">
            <!--<a class="navbarlogo" routerLink="/"></a>-->
                <img src="../../assets/images/nav-icon.png" class="logo">
                <h1 class="logo">fasTask</h1>
        </div>
        <div class="col-md-5">
            <nav class="links">
                <a md-button routerLink="/" routerLinkActive="active">Home</a>
                <a md-button routerLink="/features" routerLinkActive="active">Features</a>
                <a md-button routerLink="/models" routerLinkActive="active">Models</a>
                <a md-button routerLink="/customers" routerLinkActive="active">Customers</a>
            </nav>
        </div>
        <div class="col-md-1">
        </div>
    <!--</div>-->
</section>